<div class="page-container">
  <div class="page-canvas">
    <div class = "signin-container">
      <h1 class="tagline">Welcome to SeatYourself!</h1>
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">

          <%= f.text_field :name, placeholder: "Full name", class: 'fullname-box'%>
        </div>
        <div class="field">

          <%= f.text_field :email, placeholder: "Email", class: 'email-box' %>
        </div>
        <div class="field">

          <%= f.text_field :phone, placeholder: "Phone number", class: 'phone-box' %>
        </div>
        <div class="field">

          <%= f.password_field :password, placeholder: "Password", class: 'password-box' %>
        </div>
        <div class="field">

          <%= f.password_field :password_confirmation, placeholder: "Re-enter password", class: 'password-box' %>
        </div>
        <div class="actions"><%= f.submit 'Create Account', class: 'submit' %></div>
        <% end %>
      </div>
    </div>
  </div>
