<div class="page-container">
  <div class="page-canvas">
    <div class = "signin-container">
      <h1 class="tagline">Welcome to SeatYourself!</h1>
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
              <h4>There are <%= pluralize(@user.errors.count, "errors") %> that prohibited you from creating an account.</h4>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">

          <%= f.text_field :name, placeholder: "Full name" %>
        </div>
        <div class="field">

          <%= f.text_field :email, placeholder: "Email" %>
        </div>
        <div class="field">

          <%= f.text_field :phone, placeholder: "Phone number" %>
        </div>
        <div class="field">

          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <div class="field">
        
          <%= f.password_field :password_confirmation, placeholder: "Re-enter password" %>
        </div>
        <div class="actions"><%= f.submit %></div>
        <% end %>
      </div>
    </div>
  </div>
