
<html>
<div class="user-background">

  <div class="greeting">
    Hello, <%= @user.name.capitalize %>!
  </div>

  <div class="back-link">
    <%= link_to "Back to all Restaurants", restaurants_path %>
  </div>

    <div class="reservations">
    <% if @user.reservations != nil %>
    <div class="heading">Your Reservations</div>
        <% @user.reservations.each do |reservation| %>
        <p class="reservation-element">
          <%= reservation.restaurant.name %>
        </p>
          <ul>
            <li class="reservation-item">At: <%= reservation.time %></li>
            <li class="reservation-item">For: <%= reservation.size %> people</li>
          </ul>
          <div class="edit-link">
          <%= link_to "Edit Reservation", edit_restaurant_reservation_path(reservation.restaurant_id, reservation.id) %>
          </div>
      <% end %>
      <% else %>
      <p class="no-reso">
        You have no reservations at this time!
      </p>
    <% end %>
  </div>

  <div class="owned-restaurants">
  <% if @user.owned_restaurants !=nil %>
    <div class="owned-heading">
      Reservations made at Your Restaurant
    </div>
    <% @user.owned_restaurants.each do |owned_restaurant| %>
      <div class="restaurant-name">
        <%= owned_restaurant.name %>
      </div>
        <% owned_restaurant.reservations.each do |reservation| %>
        <p  class="owned-element">
          <ul>
            <li class="owned-reservation-item">At: <%= reservation.time %></li>
            <li class="owned-reservation-item">For: <%= reservation.size %> people</li>
            <li class="owned-reservation-item">Made By: <%= reservation.user.name %></li>
            <li class="owned-reservation-item">Phone: <%= reservation.user.phone %></li>
          </ul>
        </p>
        <% end %>
    <% end %>
  <% else %>
  <p class="no-owner-reso">
    There are no reservations at your restaurant at this time!
  </p>
  <% end %>
</div>

</div>
</html>
