<%= form_for @restaurant do |f| %>
<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
