<%= form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
      <h4>There are <%= pluralize(@restaurant.errors.count, "errors") %> that prohibited you from creating a restaurant.</h4>
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

  <div class="field"><br>
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
