<%= form_for ([@restaurant, @reservation]) do |f| %>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time, discard_minute: true %>
  </div>

  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
