<h1>All Restaurants</h1>
<% if current_user %>
  <%= link_to "Create a New Restaurant", new_restaurant_path %>
<% end %>
<% @restaurants.each do |restaurant| %>
<h4><%= restaurant.name %></h4>
  <p>
    Address: <%= restaurant.address %><br>
    Phone Number: <%= restaurant.phone %>
  </p>
<h5><%= link_to "View Restaurant/Book Reservation", restaurant_path(restaurant.id) %></h5>
<% end %>
