<%= link_to "Back to all Restaurants", restaurants_path %>
<h2><%= @restaurant.name %></h2>
<h5>Address: <%= @restaurant.address %></h5>
<h5>Phone Number: <%= @restaurant.phone %></h5>
<h3>Book a Reservation</h3>
<%= render 'reservation' %>
